body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SideMenuContainer {
  position: relative;
  height: 100%;
}

.SideMenu {
  width: 200px; /* Full width of the sidebar */
  transition: width 0.2s;
  height: 100%;
}

.SideMenu.collapsed {
  width: 80px; /* Width of the sidebar when collapsed */
}

.SideMenuToggle {
  z-index: 1; /* Ensure the button stays on top */
  cursor: pointer;
}